.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
}

.metric-clock {
  text-align: center;
}
